.episode-layout {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
}

.episode-box {
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid black;
  padding: .5 rem;
  position: sticky;
  top: 0;
}

.header-link__item {
  padding: .5rem;
  text-decoration: none;
}