html {
  font-size: 14px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 2.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.episode-layout {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
}

.episode-box {
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid black;
  padding: .5 rem;
  position: sticky;
  top: 0;
}

.header-link__item {
  padding: .5rem;
  text-decoration: none;
  border-bottom: .5px solid blue;
  margin-right: 1rem;
}

.header-link__item:hover {
  border-bottom: none;
}